 body{
    margin: 0px;
    padding: 0px;
    /* background-color: rgba(245, 245, 245, 0.623); */
 }
 main{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    
 }
 .container{
    width: 600px;
    
    border: 2px solid black;
    font-family: sans-serif;
    font-size: 12px;
    padding: 10px;
    background-color:whitesmoke;
    border-radius: 4px;
    margin-top: 12px;
    /* max-height: auto; */
     min-height: 400px;



    
 }
 h1{
   color: rgb(155, 148, 148);
 }
#text{
  width: 100%;
   height: 25px;
  border-style: inset;
  border-radius: 4px;
  outline: 0;
   font-size: 18px;
 }
 .todo{
    list-style: none;
    padding: 2px;
    
 }
 li{
  display: flex;
  align-items: center;
    border: 1px solid black;
    border-radius: 3px; 
    background-color: rgb(180, 175, 175);
     margin-bottom: 5px;
    text-align: justify;
  padding:2px 22px 2px 3px;
    position: relative;
    text-align: justify;
    /* height: auto; */
    min-height: 20px;
     
    font-size: 16px;
    color: whitesmoke;
    
 }
 li i{
    position: absolute;
    right: 2px;
    top: 1px;
    font-size: 1rem;
    color: black;
    
    

 }

 
 
 